<link rel="stylesheet" href="view1/view1.css">
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
<div class="gameContainer">
    <div class="base">
        <div class="center">
            <h1 class="title">Simon<span>®</span></h1>

            <div class="controlsWrapper">
                <div class="countWrapper">
                    <div class="counter"><p>{{count}}</p></div>
                    <h3>COUNT</h3>
                </div>
                <div class="startWrapper">
                    <button class="rndBtn"></button>
                    <h3>START</h3>
                </div>
                <div class="strictWrapper">
                    <div ng-class="{ledOn: strictLed}" class="led"></div>
                    <button ng-click="strictClick()" class="rndBtn"></button>
                    <h3>STRICT</h3>
                </div>
            </div>

            <div class="onOffWrapper">
                <h3>OFF</h3>
                <div class="switchWrapper">
                    <div ng-click="switchClick()" ng-class="{switchOn: onOff}" class="switch"></div>
                </div>
                <h3>ON</h3>
            </div>

        </div>
        <div class="btn btnGrn green"></div>
        <div class="btn btnRed red"></div>
        <div class="btn btnYlw yellow"></div>
        <div class="btn btnBlu blue"></div>
        <div class="vertDiv"></div>
        <div class="horzDiv"></div>
    </div>


</div>
