<link rel="stylesheet" href="view1/view1.css">
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
<div class="gameContainer">
    <div class="base">
        <div class="center">
            <h1 class="title">Simon<span>®</span></h1>

            <div class="controlsWrapper">
                <div class="countWrapper">
                    <div class="counter"><p ng-class="{counterOn: counterOn}">{{count}}</p></div>
                    <h3>COUNT</h3>
                </div>
                <div class="startWrapper">
                    <button ng-click="startBtn()" class="rndBtn"></button>
                    <h3>START</h3>
                </div>
                <div class="strictWrapper">
                    <div ng-class="{gameOn: strictLed}" class="led"></div>
                    <button ng-click="strictClick()" class="rndBtn"></button>
                    <h3>STRICT</h3>
                </div>
            </div>

            <div class="onOffWrapper">
                <h3>OFF</h3>
                <div class="switchWrapper">
                    <div ng-click="switchClick()" ng-class="{switchOn: onOff}" class="switch"></div>
                </div>
                <h3>ON</h3>
            </div>

        </div>
        <div ng-click="btnPress('green')" ng-class="{lightgreen: greenBtnOn, green: !greenBtnOn}" class="btn btnGrn"></div>
        <div ng-click="btnPress('red')" ng-class="{lightred: redBtnOn, red: !redBtnOn}" class="btn btnRed red"></div>
        <div ng-click="btnPress('yellow')" ng-class="{lightyellow: yellowBtnOn, yellow: !yellowBtnOn}" class="btn btnYlw yellow"></div>
        <div ng-click="btnPress('blue')" ng-class="{lightblue: blueBtnOn, blue: !blueBtnOn}" class="btn btnBlu blue"></div>
        <div class="vertDiv"></div>
        <div class="horzDiv"></div>
    </div>


</div>
